.size90
{
	font-size: 90% !important;
}

.size80
{
	font-size: 80% !important;
}

.size70
{
	font-size: 70% !important;
}

.size60
{
	font-size: 60% !important;
}

.size40
{
	font-size: 40% !important;
}

.hindi
{
	font-style: italic !important;
	font-size:80% !important;
	color:#eee;
}

.insAlert
{

}